pydantic==2.1.*
pandas==2.0.*
beautifulsoup4==4.12.*
regex==2023.10.*
requests==2.31.*
statsmodels==0.14.*
numpy==1.24.*
plotly==5.16.*
py_lets_be_rational
./../common/dist/common-1.0-py3-none-any.whl
